    <div class="site-wrapper">

      <div class="site-wrapper-inner" id="branch">

        <div class="cover-container">
          <div class="inner cover">
            <h1 class="cover-heading">一緒に居る女性は<br>奥さんですか?</h1>
						<!--
            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
						-->
						<p class="lead"><br><br><br><br><br><br><br><br><br><br></p>
            <p class="lead">
              <%= link_to "はい", uwaki_path(:question => 'true'), {:class => 'btn btn-lg btn-default'} %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to "いいえ", uwaki_path(:question => 'false'), {:class => 'btn btn-lg btn-default'} %>
            </p>
          </div>

        </div>

      </div>

    </div>
<script type="text/javascript">
$(function(){
if (navigator.geolocation) {
  //Geolocation APIを利用できる環境向けの処理
  navigator.geolocation.getCurrentPosition( successCallback, errorCallback, {enableHighAccuracy:true, timeout:6000, maximumAge:600000}
  );

  function successCallback(position) {
    var lat = position.coords.latitude;
    var lon = position.coords.longitude;
    $('a')[0].href += "&geo[lat]=" + lat + "&geo[lon]=" + lon;
    $('a')[1].href += "&geo[lat]=" + lat + "&geo[lon]=" + lon;
  }
function errorCallback(error) {
  var err_msg = "";
  switch(error.code)
  {
    case 1:
      err_msg = "位置情報の利用が許可されていません";
      break;
    case 2:
      err_msg = "デバイスの位置が判定できません";
      break;
    case 3:
      err_msg = "タイムアウトしました";
      break;
  }
}

} else {
  //Geolocation APIを利用できない環境向けの処理
  alert('位置情報を取得できませんでした');
}
});
</script>
